In [1]:
# Merging Dataframes in python
import pandas as pd

In [18]:
df1=pd.DataFrame([[1,2,3],[2,7,3],[6,3,9]],columns=['A','B','C'])
df1

   A  B  C
0  1  2  3
1  2  7  3
2  6  3  9

In [22]:
df2=pd.DataFrame([[11,7,312],[22,2,35],[63,3,92]],columns=['X','Y','Z'])
df2

    X  Y    Z
0  11  7  312
1  22  2   35
2  63  3   92

In [23]:
df= pd.merge(df1,df2, right_on='Y',left_on='B') #do mapping of coressponding right and left column
df

   A  B  C   X  Y    Z
0  1  2  3  22  2   35
1  2  7  3  11  7  312
2  6  3  9  63  3   92