Slicing And Adding Column To Dataframe

In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame([[1,2,3,4],[2,4,6,8],[5,6,7,8],[7,8,9,0],[10,20,30,40]])
print(df1)

    0   1   2   3
0   1   2   3   4
1   2   4   6   8
2   5   6   7   8
3   7   8   9   0
4  10  20  30  40

In [5]:
df1.shape  # give size in (rows,column)

(5, 4)

In [7]:
df1.iloc[0,1] # shows data at row 0 and column 1

2

In [12]:
df1.iloc[1:3,0:3] # provide the values or elements between in Form (rows range,columns range)

   0  1  2
1  2  4  6
2  5  6  7

In [19]:
# changing the columns
df2 = pd.DataFrame([[1,2,3,4],[2,4,6,7],[5,6,7,8]], columns=['a1','B','C','D1']) #change the columns
print(df2)

   a1  B  C  D1
0   1  2  3   4
1   2  4  6   7
2   5  6  7   8

In [ ]:
# goto 10 min to pandas website