In [16]:
#Reading the CSV(sheet) and its functions
import pandas as pd

In [17]:
df = pd.read_csv(r"C:\Users\Aamaan Satvilkar\Desktop\data.csv") #syntax of reading CSV
df

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,04-Dec-17,10175.05,10179.20,10095.70,10127.75,153240126,8458.66
1,05-Dec-17,10118.25,10147.95,10069.10,10118.25,160253042,8749.09
2,06-Dec-17,10088.80,10104.20,10033.35,10044.10,171208366,9598.82
3,07-Dec-17,10063.45,10182.65,10061.90,10166.70,171339022,9910.28
4,08-Dec-17,10198.45,10270.85,10195.25,10265.65,206234019,11468.15
...,...,...,...,...,...,...,...
219,24-Oct-18,10278.15,10290.65,10126.70,10224.75,362272428,19413.24
220,25-Oct-18,10135.05,10166.60,10079.30,10124.90,522421914,23503.76
221,26-Oct-18,10122.35,10128.85,10004.55,10030.00,375563273,16120.14
222,29-Oct-18,10078.10,10275.30,10020.35,10250.85,375749433,17514.85
223,30-Oct-18,10239.40,10285.10,10175.35,10198.40,298753965,14789.51

In [19]:
print(df['Close'].dtype) #this will give the Datatype of specific
#if data has space before then remove it

float64

In [20]:
print(df['Date'].astype('category')) #this will map like list but fill data which takes less space

0      04-Dec-17
1      05-Dec-17
2      06-Dec-17
3      07-Dec-17
4      08-Dec-17
         ...
219    24-Oct-18
220    25-Oct-18
221    26-Oct-18
222    29-Oct-18
223    30-Oct-18
Name: Date, Length: 224, dtype: category
Categories (224, object): ['01-Aug-18', '01-Feb-18', '01-Jan-18', '01-Jun-18', ..., '31-Aug-18', '31-Jan-18', '31-Jul-18', '31-May-18']