In [1]:
# Writing a CSV file inn python Pandas
import pandas as pd

In [4]:
df = pd.DataFrame([[1,2,3,4],[2,4,6,8],[5,6,7,8],[10,20,30,40]],columns=['A1','B1','C1','D1'])
df

   A1  B1  C1  D1
0   1   2   3   4
1   2   4   6   8
2   5   6   7   8
3  10  20  30  40

In [7]:
df.head()

   A1  B1  C1  D1
0   1   2   3   4
1   2   4   6   8
2   5   6   7   8
3  10  20  30  40

In [9]:
df.to_csv('export_C9.csv')

In [10]:
df.to_csv('export_2C9.csv', index=False) # This will remove index(rows serial no.)